<!DOCTYPE html>
<html lang="eng" class="h-100">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body class="h-100">
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form class="form-example" action="/generateMap" method="POST" name="uploadForm" enctype = "multipart/form-data">
                <h1>Geovisualizer</h1>
                <div class="form-group">
                    <label for="mapfile">Select a GeoJSON file:</label>
                    <input type="file" id="mapfile" name="mapfile" class="form-control-file" accept=".json">
                </div>
                <div class="form-group">
                    <label for="datafile">Select a data file(.csv/.json):</label>
                    <input type="file" id="datafile" name="datafile" class="form-control-file" accept=".csv,.json">
                </div>
                <div class="form-group">
                    <label for="mapname">Enter name for map:</label>
                    <input type="text" class="form-control" id="mapname" name="mapname">
                </div>
                <div class="form-group">
                    <label for="legendname">Enter name for legend:</label>
                    <input type="text" class="form-control" id="legendname" name="legendname">
                </div>
                <div class="form-group">
                    <label for="colors">Pick a color scheme:</label>
                    <select id="colors" name="color" class="form-control">
                        <option value="BuGn">Blue/Green</option>
                        <option value="BuPu">Blue/Purple</option>
                        <option value="GnBu">Green/Blue</option>
                        <option value="OrRd">Orange/Red</option>
                        <option value="PuBu">Purple/Blue</option>
                        <option value="PuBuGn">Purple/Blue/Green</option>
                        <option value="PuRd">Purple/Red</option>
                        <option value="RdPu">Red/Purple</option>
                        <option value="YlGn">Yellow/Green</option>
                        <option value="YlGnBu">Yellow/Green/Blue</option>
                        <option value="YlOrBr">Yellow/Orange/Brown</option>
                        <option value="YlOrRd">Yellow/Orange/Red</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-customized">Generate</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>